# Local MongoDB volume
mongodb_data/

# Python
__pycache__/
*.venv
venv/

# Ignore only JSON state files
temperature_sensor_simulator/state/last_temperature.json
humidity_sensor_simulator/state/last_humidity.json

.coverage
lcov.info
coverage/

.pytest_cache

ML/matched_sensor_data.csv