<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data Visualizer</title>
</head>
<body>
    <h2>Sensor Data Visualizer</h2>

    <form id="filterForm">
        <label>Sensor Type:</label>
        <select name="type">
            <option value="Temperature">Temperature</option>
            <option value="Humidity">Humidity</option>
            <option value="Acoustic">Acoustic</option>
        </select>
        <div id="locationFields">
                <div class="location-block">
                    <label>Building:</label>
                    <select name="building">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>

                    <label>Floor:</label>
                    <input type="number" name="floor" min="1" max="4">
                </div>
        </div>
        <button type="button" id="addLocationBtn">Add Location</button>
        <button type="button" id="removeLocationBtn">Remove Location</button>
        <label>Start Time:</label>
        <input type="datetime-local" name="start_time">
        <label>End Time:</label>
        <input type="datetime-local" name="end_time">
        <button type="submit">Load Data</button>
    </form>

    <canvas id="sensorChart" width="800" height="400"></canvas>
    
    <!-- Chart.js core -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Luxon and the date adapter -->
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
    
    <!-- link to chart js file -->
    <script src="/static/js/chart-setup.js"></script>

    <!-- Fire Alert Banner -->
    <div id="fire-alert-banner" style="display:none; background-color:red; color:white; padding:15px; text-align:center; font-weight:bold; position:fixed; top:0; left:0; width:100%; z-index:9999;">
    </div>
    <!-- link to alert-banner js file -->
    <script src="/static/js/alert-banner.js"></script>
</body>
</html>